<%
    self.page_title = 'Login Page'
%>

<div class="col-md-8 mb-4">
    <div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <h2 class="card-header font-weight-bold">
            Login
        </h2>
        <div class="card-body">
            <section class="content">
                <form method="POST" action="/login">
                    <%= csrf_tag %>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Passord</label>
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-outline-primary waves-effect waves-light">
                        Submit
                    </button>
                </form>
            </section>
        </div>
    </div>
</div>
<div class="col-md-4 mb-4">
    <%= erb(:'layout/sidebar') %>
</div>
