<%
    self.page_title = 'Login Page'
%>

<div class="grid">
    <div class="col-md-12">
        <section class="mdl-card mdl-shadow--4dp">
            <header class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    Authentication
                </h2>
            </header>

            <%= WebApp::Forms::Login.new(self) %>
        </section>
    </div>
</div>
