<% (1..3).each do |i| %>
    <div class="grid">
        <% (1..3).each do |j| %>
            <div class="col-md-4">
                <div class="mdl-card mdl-shadow--4dp">
                    <heder class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Voluptate voluptate</h2>
                    </heder>
                    <% erb_cache('welcome:featured_image', expires: 120) do %>
                        <div class="mdl-card__media" data-updated_at="<%= Time.now %>">
                            <%=
                                image = '/images/unsplash/rawpixel-678089.jpg'
                                size = image_size(image)

                                html.img(src: asset_url(image),
                                         class: 'img-fluid animated fadeIn slower',
                                         alt: nil,
                                         height: "#{size.height}",
                                         width: "#{size.width}")
                            %>
                        </div>
                    <% end %>
                    <div class="mdl-card__supporting-text no-bottom-padding">
                        <span>Posted 2 days ago</span>
                        <div id="tt-share-<%= "#{i}:#{j}" %>" class="icon material-icons">
                            share
                        </div>
                        <div class="mdl-tooltip" for="tt-share-<%= "#{i}:#{j}" %>">
                            Share via social media
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit.
                            Velit anim eiusmod labore
                            sit
                            amet. Voluptate voluptate irure occaecat deserunt incididunt esse in.
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
