/**
 * Sass spacing helper
 *
 * With Bulma naming style.
 *
 * @see https://gist.github.com/VictorOtavio/e0576b755a49ef3682354091c6911dcb
 */

$spacing-size-unit: rem !default;
$spacing-margin-key: "has-margin" !default;
$spacing-padding-key: "has-padding" !default;
$spacing-separator: "-" !default;
$spacing-sizes: (
                ("none", 0),
                ("xxs", 0.125),
                ("xs", 0.25),
                ("sm", 0.5),
                ("md", 1),
                ("lg", 2),
                ("xl", 4),
                ("xxl", 8)
) !default;
$spacing-positions: (
                ("top", "top"),
                ("right", "right"),
                ("bottom", "bottom"),
                ("left", "left")
) !default;

@function sizeValue($key, $value) {
  @return if($key == "none", 0, $value + $spacing-size-unit);
}

@each $size in $spacing-sizes {
  $key: nth($size, 1);
  $value: nth($size, 2);

  .#{$spacing-margin-key}#{$spacing-separator}#{$key} {
    margin: sizeValue($key, $value);
  }
  .#{$spacing-padding-key}#{$spacing-separator}#{$key} {
    padding: sizeValue($key, $value);
  }
  @each $position in $spacing-positions {
    $pos_key: nth($position, 1);
    $pos_value: nth($position, 2);

    .#{$spacing-margin-key}#{$spacing-separator}#{$pos_key}#{$spacing-separator}#{$key} {
      margin-#{$pos_value}: sizeValue($key, $value);
    }
    .#{$spacing-padding-key}#{$spacing-separator}#{$pos_key}#{$spacing-separator}#{$key} {
      padding-#{$pos_value}: sizeValue($key, $value);
    }
  }
}
