*.gem
*.swp
*_flymake.*
*~
/.*
/build/
/cache/
/config/*.yml
/doc/
/log/
/tmp/
/vagrant/*.override.yml
/Vagrantfile
/vendor/
!/.env.dist
!/.gitignore
!/.rspec
!/.rubocop.yml
!/.solargraph.yml
!/.yardopts