header[id="fixed-header"] {
  .mdl-layout__header-row {
    padding: 0 $reflex-grid-spacing;
  }

  h1 a.android-title {
    color: #fff;
    text-decoration: none;
  }
}

.android-content main[id=main-col] {
  max-width: 980px;
  margin: $reflex-grid-spacing auto;

  min-height: calc(100vh - 160px);
}

.mdl-card {
  width: 100%;
}

footer[id="page-footer"] {
  width: 100%;
  margin: 0 auto;
  max-width: 922px;
  padding: $reflex-grid-spacing;
}
