/**
 * Sample of use:
 *
 * ```
 * <img style="--img-ratio: 400/200"
 * width="200"
 * height="400"
 * src="https://unsplash.com/photos/12ImpwcVL44/download?force=true" />
 * ```
 */
img[style~='--img-ratio:'] {
  & {
    height: auto;
    background: transparent;
  }

  &::after, &::before {
    content: ' ';
    display: block;
    padding-bottom: calc(var(--img-ratio * 100%));
  }
}
