<div class="container">
    <%= erb :'partials/banner' %>

    <div class="col-md-8 col-md-offset-2">
        <h2>Protected Page</h2>

        <div class="content full">
            <p>
                This page requires to be logged in.
            </p>

            <%= html.pre(JSON.pretty_generate(session.to_h), class: 'code json') %>
        </div>
    </div>
</div>
