/* Sticky footer styles
 *
 * @see https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/
 * -------------------------------------------------- */
$footer-height: 154px !default;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.page-footer.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}
