<% unless flash.empty? %>
    <section id="alerts-container" class="col-12">
        <% flash.each do |type, message| %>
            <div class="alert alert-<%= type %> animated slideInRight" role="alert">
                <p>
                    <%= h(message) %>
                </p>

                <button type="button" class="close-alert" aria-hidden="true">
                    ×
                </button>
            </div>
        <% end %>
    </section>
<% end %>
