<footer id="page-footer" class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            &copy;
            <%= Spin::VERSION.date.split('-')[0] %>
            -
            <%= Spin::VERSION.authors.join(', ') %>
        </div>

        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
