<header id="top">
    <div class="navbar is-inline-flex is-transparent">
        <div class="navbar-brand">
            <%= link_to('/', class: 'navbar-item') { 'Unicorn Agency' } %>
        </div>
        <div class="navbar-menu">
            <div class="navbar-item navbar-item_global-search">
                <div class="control has-icons-left">
                    <input name="global-search" id="global-search" class="input is-small" type="search" placeholder="search">
                    <label for="global-search" class="icon is-left is-small">
                        <%= html.span('class': 'icon material-icons') { 'search' } %>
                    </label>
                </div>
            </div>
        </div>
        <%= view_eval('layout/header/navbar') %>
    </div>
</header>
