<section id="notifications">
    <%
        # Supported types:
        #
        # * primary
        # * link
        # * info
        # * success
        # * warning
        # * danger
    %>
    <% flash.each do |type, message| %>
        <%= html.tag('b-notification',
                     role: 'alert',
                     class: 'animated slideInRight',
                     type: "is-#{type}",
                     'aria-close-label': 'Close notification') { h(message) }
        %>
    <% end %>
</section>

