<header class="navbar is-inline-flex is-transparent" id="top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Unicorn Agency
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-item navbar-item_global-search">
            <div class="control has-icons-left">
                <input name="global-search" id="global-search" class="input is-small" type="search" placeholder="search">
                <label for="global-search" class="icon is-left is-small">
                        <i class="material-icons">search</i>
                </label>
            </div>
        </div>
    </div>
    <div class="navbar-item is-flex-touch">
        <a class="navbar-item">
            <i class="material-icons">explore</i>
        </a>
        <a class="navbar-item">
            <i class="material-icons">favorite_border</i>
        </a>
        <%= link_to(current_user ? '/logout' : '/login', class: 'navbar-item') do
          html.span('class': 'icon material-icons', 'aria-hidden': true) { 'person_outline' }
        end %>
    </div>
</header>
