header[id="top"] {
  .navbar {
    & {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: white;
      justify-content: space-around;
      width: 100%;
      border-bottom: 1px solid lightgray;
    }

    .navbar-item_global-search {
      display: none;
    }

    .navbar-menu {
      flex-grow: 0.5;
      justify-content: center;
    }

    .navbar-menu .navbar-item {
      flex-grow: 1;
      justify-content: center;
    }

    .navbar-menu .navbar-item .control {
      width: 50%;
    }
  }
}
