@import "~bulma/sass/utilities/initial-variables";

*[id="login-box"] {
  & > .column {
    .box {
      margin-top: 5rem;
    }

    .avatar {
      margin-top: -70px;
      padding-bottom: 20px;
    }

    .avatar img {
      padding: 5px;
      width: 128px;
      height: 128px;

      background: $white;
      border-radius: 50%;
      box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    }

    input {
      font-weight: 300;
    }

    .subtitle, ul {
      font-weight: 700;
    }

    .subtitle {
      padding-top: 1rem;
    }
  }

  ul {
    & {
      display: flex;
      align-items: stretch; /* Default */
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }


    li {
      & {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
      }

      &:after {
        content: " · "
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

