<div class="col-md-12 mb-4">
    <div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="card-body">
            <h2>
                Posts Management
            </h2>

            <div class="content full">
                <p>
                    This page requires to be logged in.
                </p>

                <p>
                    Coming soon…
                </p>
            </div>
        </div>
    </div>
</div>
