<hr>
<section class="row">
    <div class="small-6 columns medium-shrink align-self-middle">
        <ul class="menu">
            <li class="align-self-middle">Unicorn Agency</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="small-6 columns medium-shrink align-self-middle">
        <div class="medium-only-text-right large-only-text-right">
            &copy;
            <%= Spin::VERSION.date.split('-')[0] %>
            -
            <%= Spin::VERSION.authors.join(', ') %>
        </div>
    </div>
</section>
