<div class="card mb-4 wow fadeIn">
    <h4 class="card-header">Categories</h4>

    <ul>
        <li><a href="#">Skyler</a></li>
        <li><a href="#">Jesse</a></li>
        <li><a href="#">Mike</a></li>
        <li><a href="#">Holly</a></li>
    </ul>
</div>

<div class="card mb-4 wow fadeIn">
    <h4 class="card-header">Authors</h4>

    <ul>
        <li><a href="#">Skyler</a></li>
        <li><a href="#">Jesse</a></li>
        <li><a href="#">Mike</a></li>
        <li><a href="#">Holly</a></li>
    </ul>
</div>
