<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/">
                <strong class="blue-text">
                    Unicorn Agency
                </strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About MDB</a>
                    </li>
                    -->
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/arrigoni.dimitri"
                           class="nav-link waves-effect">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/SwagDevOps"
                           class="nav-link waves-effect">
                            <i class="fa fa-github mr-2"></i>
                        </a>
                    </li>
                    <% if current_user %>
                        <li class="nav-item">
                            <%= link_to('/logout', class: 'nav-link border border-light rounded waves-effect') do
                              html.i('class': "fa fa-sign-out", 'aria-hidden': true) + 'Logout'
                            end %>
                        </li>
                    <% else %>
                        <li class="nav-item">
                            <%= link_to('/login', class: 'nav-link border border-light rounded waves-effect') do
                              html.i('class': "fa fa-sign-in", 'aria-hidden': true) + 'Login'
                            end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>
