<section class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <%= link_to('Unicorn Agency', '/') %>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <% if current_user %>
                <li>
                    <%= link_to('/logout') do
                      html.i('class': "fa fa-sign-out", 'aria-hidden': true) + 'Logout'
                    end %>
                </li>
            <% else %>
                <li>
                    <%= link_to('/login') do
                      html.i('class': "fa fa-sign-in", 'aria-hidden': true) + 'Login'
                    end %>
                </li>
            <% end %>
        </ul>
    </div>
</section>
