<section class="is-md_editor">
    <b-tabs type="is-boxed" v-model="activeTab">
        <b-tab-item label="Edit" icon="file-document-edit-outline">
                <textarea :value="input"
                          ref="value"
                          <% if defined?(name) %>
                          name="<%= ha(name) %>"
                          <% end %>
                          data-value="<%= defined?(value) ? ha(value) : nil %>"
                          @input="update"></textarea>
        </b-tab-item>

        <b-tab-item label="Preview" icon="eye">
            <div v-html="compiledMarkdown" class="is-preview"></div>
        </b-tab-item>
    </b-tabs>
</section>
