/* Variables
 * -------------------------- */
$image-path: '/images/' !default;
$bulmaswatch-import-font: false !default;
$roboto-npm-webfont-dir: '/fonts' !default;
/* material-icons
 *
 * @see https://github.com/marella/material-icons
 * @see https://material.io/tools/icons/
 * -------------------------- */
$material-icons-font-path: '/fonts/' !default;
$mdi-font-path: '/fonts/' !default;
/* Bulma
 * @see https://bulma.io/documentation/customize/variables/
 */
$white-ter: hsl(0, 0%, 96%) !default;
