/**
 * @see https://codepen.io/renanpupin/pen/dYZyjj
 * @see https://fezvrasta.github.io/bootstrap-material-design/docs/4.0/bootstrap-components/alerts/
 * @see https://material-ui.com/demos/snackbars/
 */
$alert-info-bg-color: #1976d2 !default;
$alert-success-bg-color: #43a047 !default;
$alert-warning-bg-color: #ffa000 !default;
$alert-danger-bg-color: #d32f2f !default;

.alert {
  & {
    display: flex;
    align-items: center;
    line-height: 40px;
    vertical-align: baseline;

    padding: 10px;
    margin: 10px 0;

    color: #fff;
    background-color: rgb(49, 49, 49);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &-info {
    background-color: $alert-info-bg-color;
  }

  &-success {
    background-color: $alert-success-bg-color;
  }

  &-warning {
    background-color: $alert-warning-bg-color;
  }

  &-danger {
    background-color: $alert-danger-bg-color;
  }

  p {
    padding: 0;
    margin: 0;
    flex: 1;

    padding-left: 8px;
  }

  i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 24px;
  }

  .close-alert {
    flex: 0 0 auto;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;

    position: relative;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 21px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);

    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 50%;

    &:hover {
      background-color:rgba(0, 0, 0, 0.15);
    }
  }
}
